<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="js/home/login.js"></script>
    <link rel="stylesheet" href="/css/home/login.css" />
    <title>Log-in</title>
  </head>
  <body class="align">
    <div class="grid">
      <form class="form login">
        <div class="form__field">
          <label for="login__username"
            ><svg class="icon">
              <use xlink:href="#icon-user"></use></svg
            ><span class="hidden">Username</span></label
          >
          <input
            autocomplete="username"
            id="login__username"
            type="text"
            name="username"
            class="form__input"
            placeholder="Username"
            required
          />
        </div>

        <div class="form__field">
          <label for="login__password"
            ><svg class="icon">
              <use xlink:href="#icon-lock"></use></svg
            ><span class="hidden">Password</span></label
          >
          <input
            id="login__password"
            type="password"
            name="password"
            class="form__input"
            placeholder="Password"
            required
          />
        </div>

        <div class="form__field">
          <input id="loginBtn" type="submit" value="Log In" />
        </div>
      </form>

      <p class="text--center">
        Not a member? <a href="#">Sign up now</a>
        <svg class="icon">
          <use xlink:href="#icon-arrow-right"></use>
        </svg>
      </p>
    </div>

    </svg>
  </body>
</html>
